:root {
  /* Colors */
  --pink: #ce3e78;
  --white: #ffffff;
  --maroon: #681f3d;
  --black: #000000;
  --gray: #4b4949;

  /* Fonts */
  --chivo: "Chivo", sans-serif;
  --lora: "Lora", serif;

  /* Font Sizes */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-md: 1rem; /* 16px */
  --fs-lg: 1.25rem; /* 20px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-2xl: 2rem; /* 32px */
  --fs-2-5xl: 2.5rem;
  --fs-3xl: 3rem; /* 48px */
  --fs-4xl: 4rem;
  --fs-5xl: 6rem;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
