.project-page {
  max-width: 75vw;
  display: block;
  margin: 0 auto;
}

.project-page h3,
.project-page p,
.project-page ul {
  font-family: var(--chivo);
}

.project-page h3 {
  margin-bottom: 0.5rem;
}

.project-page p,
.project-page ul {
  margin-top: 0;
  line-height: 1.5;
}

.highlight {
  color: var(--pink);
  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.back-to-projects.top {
  margin-top: 1.5rem;
}

.back-to-projects.bottom {
  margin: 2rem auto 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-projects {
  color: var(--pink);
  border: 2px solid var(--pink);
  padding: 1rem 1.5rem;
  font-family: var(--chivo);
  font-weight: var(--fw-medium);
  background: transparent;
  border-radius: 20px 5px;
  font-size: var(--fs-xl);
  cursor: pointer;
}

.back-to-projects:hover {
  transform: scale(1.05);
}

.project-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: var(--lora);
  font-weight: var(--fw-regular);
  width: 60%;
}

.project-experience {
  margin: 0.2rem !important;
}

.project-name {
  color: var(--pink);
  margin: 0;
  text-align: center;
}

.project-page hr {
  border: none;
  border-top: 2px solid var(--pink);
  width: 100%;
}

.line-break {
  margin: 1.5rem 0 1rem 0;
}

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  color: var(--pink);
  font-family: var(--lora);
  font-weight: var(--fw-light);
  font-size: var(--fs-lg);
}

.project-page h2 {
  margin: 0.5rem;
}

.heart {
  width: 45px;
  margin-bottom: 0rem;
}

.coming-soon {
  height: 87vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-size: var(--fs-4xl);
  font-family: var(--chivo);
  color: var(--pink);
  background-image: url("../assets/coming-soon-bg.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.blur-text {
  margin: 0 0 1.5rem 0;
  padding: 0;
}
