.experience-block {
  border: 2.5px solid var(--pink);
  background-color: transparent;
  padding: 2rem 3rem 2rem 3rem;
  margin: 2rem auto 3rem auto;
  border-radius: 1rem;
  width: 75vw;
  height: 550px;
}

.experience-title {
  font-weight: var(--fw-light);
  font-family: var(--lora);
  font-size: var(--fs-2-5xl);
  color: var(--pink);
  text-align: center;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.project-row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
}

/* vary layout depending on number of projects */
.project-count-1 .project-card {
  width: 75%;
}
.project-count-2 .project-card {
  width: 35%;
}
.project-count-3 .project-card {
  width: 25%;
}

.project-card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--pink);
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: var(--chivo);
  color: var(--black);
  height: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  /* Add overlay effect */
  background-color: rgba(255, 255, 255, 0.85); /* fallback / overlay */
  background-blend-mode: lighten;
  overflow: hidden;
}

.project-title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-semibold);
}

.project-description {
  font-size: var(--fs-lg);
  margin-top: 0;
  margin-bottom: 4rem;
}

.circle-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  color: var(--pink);
  font-size: 1.5rem;
  font-weight: light;
  border: 2px solid var(--pink);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.circle-button:hover {
  transform: scale(1.1);
  background-color: var(--pink);
  color: white;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
  .project-row {
    gap: 0.7rem;
  }
  .project-count-3 .project-block {
    width: 33%;
  }
}
