.theme-toggle-wrapper {
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 9999;
  width: 70px;
  height: 35px;
  background-color: #f894c6;
  border-radius: 30px;
  padding: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1.5px solid #6d183a;
  transition: background-color 0.3s ease;
}

.theme-toggle-wrapper.dark {
  background-color: #ac2f61;
}

.theme-toggle-slider {
  width: 28px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background: transparent;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.theme-toggle-slider.dark {
  transform: translateX(30px);
}

.theme-toggle:focus {
  outline: 2px solid var(--pink);
  outline-offset: 4px;
}
