html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: rotate(180deg);
  background: var(--gradient);
  transition: background 0.3s ease;
}
